{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details - Online Library</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    <h1>Online Library</h1>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'admin_books' %}">Manage Books</a> |
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
</header>   


<main>
    <section class="book-details-card">

        <div class="book-details-card__cover">
            <img class="book-image" src="{{ book.image }}" alt="{{ book.title }}">
        </div>
        <div class="book-details-card__content">

            <div class="book-details-card__header">
                <h2 class="book-details-card__title">{{ book.title }}</h2>

                <span class="status-badge {% if book.copies > 0 %}available{% else %}out-of-stock{% endif %}">
                    {% if book.copies > 0 %}Available{% else %}Out of Stock{% endif %}
                </span>
            </div>

            <div class="meta">
                <p class="book-details-card__meta">Author: {{ book.author }}</p>
                <p class="book-details-card__meta">Category: {{ book.category }}</p>
                <p class="book-details-card__meta">Year: {{ book.year }}</p>
                <p class="book-details-card__meta">Copies: {{ book.copies }}</p>
            </div>

            {% if book.description %}
            <div class="book-description">
                <p>{{ book.description }}</p>
            </div>
            {% endif %}

            <div class="book-details-card__actions">
                <a class="btn" href="{% url 'admin_books' %}">Back to Books</a>

                <a class="btn edit" href="{% url 'admin_edit_book' book.id %}">
                    Edit Book
                </a>

                <form action="{% url 'delete_book' book.id %}" method="POST" class ="no-style">
                    {% csrf_token %}
                    <button class="delete-btn" type="submit">
                        Delete Book
                    </button>
                </form>
            </div>

        </div>

    </section>
</main>

<footer>
    <form action="https://formsubmit.co/be136af79a36ee1f98093677271e4c0c" method="POST">
        <div>
            <h2>Get in Touch</h2>
        </div>
        <div class="form-row">
            <input class="contact" type="text" name="name" placeholder="Your Name" required>
            <input class="contact" type="email" name="email" placeholder="Your Email" required>
        </div>
        <textarea class="contact" name="massege" placeholder="Your Massege"></textarea><br><br>
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="reset">Reset</button>
    </form>
    <p>Copyright @ 2026 All Rights</p>
</footer>

</body>

</html>
