<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/style.css">
<title>Cover Page</title>
</head>

<body>

<header>
<h1>Online Library Website</h1>
</header>

<hr>

<main>

<h2>Course Information</h2>

<p><strong>Course:</strong> IS231 - Web Technology</p>
<p><strong>Project:</strong> Online Library Website - Project 2</p>
<p><strong>Phase:</strong> Phase 1</p>
<p><strong>Group Number:</strong> 32</p>
<p><strong>TA Name:</strong> Mira Mohamed</p>

<hr>

<h2>Team Members</h2>

<ul>
<li>Ahmed Bakr – 20250907</li>
<li>Ahmed Emad – 20250916</li>
<li>Mohamed Mahmoud – 20250915</li>
<li>Youssef Gomaa – 20250910</li>
<li>Sara Emad – 20240724</li>
</ul>

</main>

<hr>
<footer>
    <form action="https://formsubmit.co/be136af79a36ee1f98093677271e4c0c" method="POST">
        <div>
            <h2>Get in Touch</h2>
        </div>
        <div class="form-row">
            <input class="contact" type="text" name="name" placeholder="Your Name" required>
            <input class="contact" type="email" name="email" placeholder="Your Email" required>
        </div>
        <textarea class="contact" name="massege" placeholder="Your Massege"></textarea><br><br>
        <button class="btn" type="submit">Submit</button>
        <button class="btn" type="reset">Reset</button>
    </form>

    <p>Copyright @ 2026 All Rights</p>
</footer>

</body>

</html>
