{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>

</head>

<body class="login-page">
<header>

    <h1>Login</h1>

    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'login' %}">Login</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    </nav>

</header>
<main>
    <hr>

    {% if messages %}

        {% for message in messages %}

            <script>
                alert("{{ message|escapejs }}");
            </script>

        {% endfor %}

    {% endif %}


    <form method="POST" id="loginForm">

        {% csrf_token %}

        <label for="username_email">Email or Username</label>    
        <div class="username-email-box"> 
            <input type="text" id="username_email" name="username_email" required>
            <button type="button">
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
        <br>

        <div class="password-header">
            <label for="password">Password</label>
            <a class="forget-password">Forgot Password?</a>
        </div>
        <div class="password-box">
            <input type="password" id="password" placeholder="********" name="password" required>
            <button type="button" class="toggle-password">
                <i class="fa-regular fa-eye-slash"></i>
            </button>
        </div>
        <br>
        
        <input class="btn btn-success" type="submit" value="Login">
        <br>
        <p>Don't have an account? <a class="login-link" href="{% url 'signup' %}">Sign Up</a></p>

    </form>

</main>
<footer>
    <form action="https://formsubmit.co/be136af79a36ee1f98093677271e4c0c" method="POST">
            <div>
                <h2>Get in Touch</h2>
            </div>
            <div class="form-row">
                <input class="contact" type="text" name="name" placeholder="Your Name" required>
                <input class="contact" type="email" name="email" placeholder="Your Email" required>
            </div>
            <textarea class="contact" name="message" placeholder="Your Message"></textarea><br><br>
            <button class="btn" type="submit">Submit</button>
            <button class="btn" type="reset">Reset</button>
        </form>
    
    <p>Copyright @ 2026 All Rights</p>
</footer>

<script src="{% static 'js/auth.js' %}"></script>
</body>

</html>
